<div class="search-form">
    <form method="post" action="">
        <div class="form-group mt-4">
            <label for="search-input">nhap tu khoa</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp"
                placeholder="Nhap tu khoa">
        </div>
        <div class="form-group mt-4">
            <label for="gender-input">chon gioi tinh</label>
            <select name="gender" class="form-control" id="gender-input">
                <option value=""></option>
                <option value="male">nam</option>
                <option value="female">nu</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>